app_icon ICON   "images/app.ico" 
/*comx_icon ICON "images/COMX.ico"
pecom_icon ICON "images/pecom.ico"
telmac_icon ICON "images/telmac.ico"
vip_icon ICON "images/vip.ico"
nano_icon ICON "images/nano.ico"
elf_icon ICON "images/elf.ico"
super_icon ICON "images/super.ico"
elf2k_icon ICON "images/elf2k.ico"
cidelsa_icon ICON "images/cidelsa.ico"
studio_icon ICON "images/studio.ico"
victory_icon ICON "images/victory.ico"
visicom_icon ICON "images/visicom.ico"*/
#include "wx/msw/wx.rc"
